$border-accent: #2B2B2B;
$bg: #ffffff;
$bg-border-accent: #e7e8e9;
$disabled-text: #7D7D7D;
$foreground: #2d264b;
$primary-blue: #104fe1;
$button-blue-bg: #2C68F3;
$base-bg: #0C111A;
$base-text: #FFFFFF;
$secondary-bg: #151A24;

body{
    font-family: "Poppins-SemiBold", Helvetica;
    background: $base-bg;
}

.layout{
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin: 40px;
    gap:3vw;
}
.question{
    width: 45vw;
    height: 90vh;
    background-color: $secondary-bg;
    padding: 2vw 5vh;
}

.leftarea{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: left;
    flex-direction: column;
}


.language{
    background-color: $secondary-bg;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
    border: 2px solid;
    border-color: $border-accent;
}

.console-head{
    width: 45vw;
    height: 7.5vh;
    background-color: $secondary-bg;
    border-radius: 12px 12px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.console{
    width: 40vw;
    height: 40vh;
}

.editor{
    height: 50vh;
    width: 45vw;
}